
.banner-box-img{
	background: url(../img/ghgImg.jpg) center center no-repeat;
	height: 169px;
}
.tabBox li{
	float: left;	
}
.tabBox li a{
	color: #3b3a40;
}
.tabBox li a:hover{
	text-decoration: none;
}
.tabBox{
	/*width: 406px;*/
	height: 65px;
}
.commonWrap{
	height: 65px;
}
.commonWrap .container{
	height: 65px;
}
.commonWrap .container .subNav .breadcrumb a{
	display:inline-block;
	padding-left: 14px;
	padding-right: 8px;
	background: url(../img/littleRight.png) left center no-repeat;
	color: #3b3a40;
	/*display: inline-block;*/
}
.commonWrap .container .subNav .breadcrumb a:hover{
	text-decoration: none;
}
.commonWrap .container .subNav .breadcrumb{
	background: #FFFFFF;
	line-height: 65px;
	height: 65px;
	padding: 0 0 ;
	margin-bottom: 0;
}
.commonWrap .container .subNav .breadcrumb .current{
	color: #ea3800;
	padding-right: 0;
}
.xh-nev-btn a span{
	width: 0;
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;
	height: 2px;
	background: #f63b2e;
	border-radius: 4px;
	cursor: pointer;
	display:block;
}
.xh-nev-btn{
	position: relative;
	margin-right: 35px;
	padding-right: 0;
	
}
/*.xh-nev-btn a span.active{
	width: 100%;
	transition: width 300ms;
}*/

.xh-nev-btn::before{
	/*要加的内容*/
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #f63b2e;
	transition: 0.2s all linear;
}
/*鼠标移入之后要做的在前面插入的东西*/
.xh-nev-btn:hover::before{
	width: 100%;
	top: 0;
	right: 0;
	/*等待切换效果*/
	transition-delay:0.1s ;
}
.xh-nev-btn.on::before{
	/*要加的内容*/
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #f63b2e;
	transition: 0.2s all linear;
}
.xh-nev-btn.on::before{
	width: 100%;
	top: 0;
	right: 100%;
	/*下划线出现的位置*/
	right: 0;
	/*等待切换效果*/
	transition-delay:0.1s ;
}
.introduceBox{
	padding-top:70px;
	background:#f7f7f7  url(../img/humanRe1.jpg) center 75px no-repeat;
}
.alliance{
	font-size: 30px;
	color:#eb3c00 ;
	font-family: Montserrat-Regular;
	letter-spacing: -2px;
	margin-bottom: 0;
}
.partner{
	font-size: 20px;
	color: #bc8f4b;
	margin-bottom: 0;
}
.textChange h1{
	font-size: 18px;
	color: #888888;
	/*padding-bottom: 15px;*/
	margin: 0 0 0 0;
}
.textChange h2{
	color: #98989a;
	font-size: 13px;
    line-height: 24px
}
.introduceBox .container h2 p{
	margin-bottom: 0;
}
.textRight-box{
	padding-right: 137px;
}
.small-textRight-box p{
	color:#f09888;
	margin: 0 0 0;
	font-size: 30px;
	font-family: "Microsoft YaHei", "微软雅黑", arial, "宋体";
}
.small-textRight-box span{
	color: #d8d8da;
	font-size: 94px;
	padding-bottom: 60px;
	display: inline-block;
	line-height: 80px;
	font-family: CALIBRI;
}
.tempWrap .ghg-banner-box{
	text-align: center;
	
}
.brandBox{
	display: inline-block;
	width: 16.6%;
	padding: 10px;
	overflow: hidden;
	
}
.brandBox div{
	line-height: 51px;
	padding: 10px 9px;
	border: 2px solid #ebebeb;
}
.brandBox div img{
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.sliderWrap .container{
	/*padding-bottom: 60px;*/
	padding: 0 0 60px ;
}
.tempWrap ul li{
	/*float: left;
	width: 1220px;*/
	text-align: center;
	width: 100%;
}
.tab-li.on{
	display: block;
}
.tab-li{
	display: none;
}
.tempWrap ul{
	/*width:3660px;
	overflow: hidden;
	position: relative;
	left: -1220px;
	padding: 0;
	margin: 0;
	font-size: 0;*/
}
.tempWrap{
	/*width: 1220px;*/
	overflow: hidden;
	/*position: absolute;*/
}
.slideBox{
	/*width: 1220px;*/
	width: 100%;
	position: relative;
}
.tempWrap ul li a{
	text-decoration: none;
}
 .sliderWrap .container{
	margin: 0 35px 0 10px;
	width: 100%;
}
/*.tab-li{
	display: block;
}
.tab-li.on{
	display: none;
}*/
/*邮箱验证添加的样式*/
.ghg-error {
	position: absolute;
	bottom: 0;
	border: 1px solid red;
}

/* 弹框 */
.ghg-inputBox-frame{
	width: 176px;
	height: 15px;
	background: #fff;
	position: absolute;
	font-size: 12px;
	text-align: center;
	display: none;
}
.error {
	width: 176px;
	height: 15px;
	font-size: 12px;
	/*text-align: center;*/
	padding-left: 15px;
	color: #eb3c00;
}
.ghg-inputBox-frame.error{
	color: red;
	display: block;
}
/* ---------------------------------*/
/*响应式页面*/
@media only screen and (max-width:801px) {
	.xh-nev-btn{
		margin-right: 10px;
	}
	.container .subNav .breadcrumb{
		display: none;
	}
}
@media only screen and (max-width:481px ) {
	.textRight-box{
		display: none;
	}
	.container .subNav .breadcrumb{
		display: none;
	}
}
@media only screen and (max-width:1201px ) {
	.main-cooperrative .sliderWrap{
		padding: 30px 20px;
	}
	.tempWrap .tab-ul .tab-li{
		
		
	}
	.tempWrap .tab-ul{
		
	}
	.container .slideBox{
		
	}
	.sliderWrap .container{
		width: 100%;
	}
	
	
}
@media only screen and (max-width:1032px ) {
	.bd .tempWrap .tab-ul{
		
	}
	.bd .tempWrap .tab-ul .tab-li{
		
	}
	.sliderWrap .container{
		margin: 0 0 0 0;
	}
}
@media only screen and (max-width: 601px) {
	.bd .tempWrap .tab-ul{
		
	}
	.bd .tempWrap .tab-ul .tab-li{
		
	}
	.tab-abtn{
		display: inline-block;
	}
	.tab-li .brandBox{
		width: 33%;
	}
	
}
.banner-box-img-lsat{
	background: url(../img/bannerLast-lyk.png) center center no-repeat;
	height: 169px;
}
.contact.commonWrap{
	background: #f4f4f4;
	padding: 0 20px;
}
.container .subNav .breadcrumb.contact{
	background:#f4f4f4 ;
}
/*.container{
	/*width: 100%;*/
	/*position: relative;*/
	/*margin: 0 auto;*/
	/*padding-left:20px ;*/
	/*padding: 0;*/
/*}*/
.introduceBox.contact{
	background: #FFFFFF;
}
.textRight-box .servece-number{
	font-size: 30px;
	color: #eb3c00;
	font-family:"Montserrat-Regular";
	line-height: 39px;
	padding-left: 50px;
	background: url(../imgs/ghg-lyk-icon_phone.png) no-repeat left center;
}
.textRight-box .servece{
	color: #8d8d8d;
	font-size: 18px;
	padding-bottom: 20px;
}
.box-one{
	width: 470px;
	padding-right: 10px;
	margin-right: 80px;
	border-right: 1px solid #e5e5e5;
}
.box-two{
	width: 355px;
	height: 140px;
	padding-right: 10px;
	border-right: 1px solid #e5e5e5
}
.box-three{
	padding-bottom: 60px;
	padding-right: 10px;
}
.box-three h1{
	color: #8d8d8d;
	font-size: 18px;
	padding-bottom: 20px;
}
.textBox h1{
	font-size:24px;
	color:#8d8d8d;
	padding-bottom: 15px;
}
.textBox ul{
	color: #8d8d8d;
	font-size: 13px;
}
.info-li{
	min-height: 72px;
}
.info-li p{
	line-height: 22px;
}
.servece-phone{
	color: #eb3c00;
	font-size: 20px;
}
.detail{
	padding-top: 200px;
	padding-bottom: 140px;
	padding-left: 18px;
	width: 514px;
}
.textBox{
	display: none;
}
.textBox.active{
	display: block;
}
.companyBox .container{
	background: url(../imgs/ghg-lyk-contact2.png) right 183px no-repeat;
}
.bottomBox{
	background: url(../imgs/ghg-lyk-contact3.jpg)center center no-repeat;
}
.servece-tiltle-leftBox{
	width: 50%;
	padding-top: 30px;
}
.servece-tiltle{
	font-size: 36px;
	color: #bc8f4b;
	padding-bottom: 5px;
}
.servece-email{
	font-size: 18px;
	color: #878786;
	padding-bottom: 15px;
}
.cityList{
	padding-bottom: 20px;
}
.cityList a{
	font-size: 16px;
	cursor: pointer;
	padding-right: 15px;
	color:#878786;
}
.cityList a.active{
	color: #eb3c00;
}
.addbox h1{
	font-size: 16px;
	padding-bottom: 5px;
	color:#878786 ;
}
.addbox p{
	font-size: 13px;
	color:#878786;
	padding-bottom: 15px;
}
.tel{
	padding-right: 20px;
}
.addbox{
	border-bottom: 1px dashed #ddd;
	width: 410px;
	margin-bottom:15px ;
}
.email-rightBox{
	padding: 95px 0 75px 40px;
	width: 50%;
	position: relative;
}
.email-rightBox h1{
	font-size: 36px;
	color: #bc8f4b;
	padding-bottom: 5px;
}
.email-rightBox h2{
	font-size: 13px;
	color: #898989;
	padding-bottom: 15px;
}
.inputBox{
	height: 50px;
	margin-top: 5px;
	width: 49%;
	margin-bottom: 10px;
	background: #fff;
	position: relative;
}
.input-box.people{
	background-color: #fff;
	background:url(../imgs/ghg-lyk-contactHead.png) 20px center no-repeat;	
}
.input-box.home{
	background-color:#fff;
	background:url(../imgs/ghg-lyk-contactHome.png) 20px center no-repeat ;
}
.input-box.email{
	background-color:#fff;
	background: url(../imgs/ghg-lyk-contactMail.png) 20px center no-repeat;
}
.input-box.pho{
	background-color:#fff ;
	background: url(../imgs/ghg-lyk-contactPhone.png) 20px center no-repeat;
}
.input-box{
	width: 100%;
	outline: none;
	border: 1px solid #dddacd;
	line-height: 50px;
	height: 50px;
	padding-left:55px;
	padding-right: 15px;
	background-color: #fff;
	/*background-position: 20px center;
	background-repeat: no-repeat;*/
	font-size: 13px;
	color: #898989;
}
.input-box:focus{
	outline: 1px solid #eb3c00;
}
.textarea{
	width: 100%;
	height: 100px;
	padding: 15px 20px;
	font-size: 13px;
	color: #898989;
	line-height: 24px;
	/*去除文本域右下角的斜线*/
	resize: none;
	outline: none;
	border: 1px solid #dddacd;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 5px;
}
.textarea:focus{
	outline: 1px solid #eb3c00;
}
.form-submit{
	
	width: 100%;
	background: #ea3800;
	text-align: center;
	font-size: 16px;
	color: #fff;
	line-height: 50px;
	height: 50px;
	outline: none;
	border: none;
	cursor: pointer;
}
.mapBox{
	position: relative;
}
.mapBox .container{
	position: absolute;
	top: 700px;
	left: 25px;
	z-index: 2;
}
.allMap{
	width: 100%;
	height: 800px;
	display: none;
}
.allMap.active{
	display: block;
}
.tablelist-map-btn{
	width: 100%;
	
}
.map-btn.active{
	background: #eb3c00;
	color: #fff;
}
.map-btn{
	float: left;
	margin: 0 0.5%;
	width: 19%;
	line-height: 98px;
	background: #ebeae8;
	color: #9e9d9c;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
.map-btn .map-a{
	color: #9e9d9c;
}
.map-btn .map-a.active{
	color: #fff;
}
.addressBox{
	display: none;
}
.addressBox.active{
	display: block;
}
.xh-nev-btn.contact-btn.on::before{
	/*要加的内容*/
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #f63b2e;
	transition: 0.2s all linear;
}
.xh-nev-btn.contact-btn.on::before{
	width: 100%;
	top: 0;
	right: 100%;
	right: 0;
	/*等待切换效果*/
	transition-delay:0.1s ;
}
.container.contact{
	width: 100%;
}
@media only screen and (max-width:1201px ) {
	.textChange{
		width: 100%;
		padding-bottom: 20px;		
	}
	.bottomBox .container {
		width: 100%;
		padding: 0 20px;
	}
	.companyBox .container{
		width: 100%;
		background: #fff;
	}
	.baidu-img{
		width: 38%;
	}
	.detail{
		width: 100%;
		padding: 100px 0 20px 18px;
	}
	.textRight-box{
		width: 100%;
		padding-bottom: 20px;
	}
	.textRight {
		width: 100%;
	}
	.introduceBox.contact{
		padding: 70px 20px 0;
	}
}
@media only screen and (max-width:801px ) {
	.breadcrumb{
		display: none;
	}
}
@media only screen and (max-width:661px ) {
	.map-btn{
		width: 48%;
		margin:0 0.5% 20px 
	}
	.mapBox .container{
		top: 445px;
	}
	.baidu-img{
		display: none;
	}
	
	
}
@media only screen and (max-width:601px ) {
	.mapBox .allMap{
		display: none;
	}
	.mapBox .container{
		position: relative;
		top: 0;
	}
}
@media only screen and (max-width:761px) {
	.email-rightBox{
		width: 100%;
		padding-top: 0;
		padding-left: 0;
	}
	.servece-tiltle-leftBox{
		width: 100%;
	}
	.bottomBox{
		background: #f6f5f3;
	}
}
@media only screen and (max-width:461px ) {
	.inputBox{
		width: 100%;
	}
}
.info.contact{
	width: 280px;
	position: absolute;
	left: -250px;
	top: 200px;
	
}
.info-title{
	background: #999;
	line-height: 25px;
	color: #fff;
	padding: 0 8px;
}
.alert{
	/*display: none;*/
	background: #fff;
	padding: 8px;
	border: 1px solid #bbb;
	border-radius: 0;
}
.alert.active{
	display: block;
}
.btn-box{
	width: 100%;
	height: 50px;
	background: #eb3c00;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-size: 15px;
}
.ghg-foot .container{
	width: 100%;
}
.banner-box{
	background: url(../imgs/ghg-lyk-group.jpg)center center no-repeat;
	height: 169px;
}
.breadcrumb.group img{
	padding: 0 10px 0 0;
}
.land-one .flor{
	width: 35.6%;
	padding: 76px 0 0 29px;
	min-height: 700px;
	/*水平位置为 38% 垂直位置为bottom*/
	background: #ebe8e2 url(../imgs/ghg-lyk-ico1.png) no-repeat 38% bottom ;
}
.land-one .flol{
	width: 64%;
	width: 64.4%;
	padding: 76px 0 0 28px;
}
.land-one-title{
	font-size: 30px;
	line-height: 36px;
	color: #a69066;
}
.land-one-title-en{
	font-family: 'Calibri';
	font-size: 38px;
	color: #dfdbd4;
	/*保持最初的行高*/
	line-height: initial;
}
.land-one-li{
	font-size: 14px;
	opacity: 0.6;
	color: #3b3a40;
	padding-bottom: 15px;
}
.land-one-li span{
	font-size: 48px;
	vertical-align: middle;
	opacity: 1;
	color: #000;
	font-family: Montserrat-Regular;
}
.land-one-down{
	margin-top: 28px;
}
.land-one-down li{
	float: left;
	text-align: center;
}
.code-text{
	display: block;
	font-size: 14px;
	color: #a5a199;
	line-height: 36px;
	
}
.code-img-two{
	margin-left: 50px;
	
}
.enTitle{
	font-size: 30px;
	color: #eb3c00;
	font-family: Montserrat-Regular;
	letter-spacing: -3px;
	/*设置英文字母为大写*/
	text-transform: uppercase;
}
.flol .title{
	font-size: 20px;
	color: #bc8f4b;
}
.land-information{
	margin-top: 10px;
}
.land-information p{
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	/*连段对其*/
	text-align: justify;
}
.land-two-up{
	padding: 25px 27px;
}
.ghg-lyk-title{
	font-size: 20px;
	color: #bc8f4b;
	padding: 8px;
}
.accordion.active h1{
	line-height: 50px;
	height: 50px;
}
.accordion-text{
	
	overflow: auto;	
	padding: 0 27px;
	
	
}
.accordion.active{
	height: 220px;
	border-left:2px solid #eb3d00 ;
	background: #f2f0ec;
}
.icon{
	font-size: 40px;
	color: #eb3c00;
	float: right;
	margin-right: 20px;
}

.accordion-text{
	font-size: 14px;
	color: #999999;	
	line-height: 24px;
	text-align: justify;
	display: none;
}
.accordion-text.active{
	display: block;
}
.accordion{
	/*background:#f8f8f8;*/
	height: 70px;
}
.group.container{
	position: relative;
}
.odyasent2-img{
	position: absolute;
	right: 0;
	top: 0;
	width: 772px;
	
}
.odyasent2-t{
	/*width:35.6%;*/
	display: inline-block;
	float: left;
}
.accordion h1{
	font-size: 18px;
	color: #666666;
	text-indent: 27px;
	box-sizing: border-box;
	line-height: 70px;
} 



.sf-img-box{
	width: 63%;
}
.odyasent2-box{
	width:36.5% ;
}
.land-two .container{
	width: 100%;
	background: #f8f8f8 ;
	
}
.flor-hd{
	width: 100%;
}
.sd-img{
	max-width: 100%;
	height: 613px;
	display: none;
}
.sd-img.active{
	display: block;
}
.odyasent2-box{
	display: inline-block;
}
.land-three-title{
	font-size: 20px;
	color: #bc8f4b;
	padding: 10px 0;
}
.land-three{
	margin-top: 44px;
}
.hourse{
	padding: 0 4px 8px;
	width: 25%;
	text-align: center;
}
.land-list{
	margin-top: 22px;
}
.land-title{
	font-size: 16px;
	line-height: 60px;
	color: #979590;
	background: #f2f0ec;
	position: relative;
	
}
.land-img{
	overflow: hidden;
}
.land-img img{
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	vertical-align: middle;
	cursor: pointer;
	
}
.land-img img{
	transition:  all 1s;
}
.land-img.on img{
	transform: scale(1.3);	
}
.triangle{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 25px solid #fff;
	border-left: 25px solid transparent;
	display: none;
}
.triangle{
	transition:  all 1s;
}

.triangle.on{
	
	display: block;
}
.land-title{
	transition:  all 1s;
}
.land-title.on{
	
	background: #eb3c00;
	font-size: 18px;
	color: #fff;
	letter-spacing: 5px;
}

.land-list .hourse{
	float: left;
}
.commonWrap .container .subNav .breadcrumb.group{
	background: #f4f4f4;
}

.see-more{
		color: #eb3c00;
		font-size: 18px;
		display: block;
	}

.accordion.one,.accordion.three,.accordion.five{
	background: #f2f0ec;
}
.accordion.two,.accordion.four{
	background:#f8f8f8 ;
}
.commonWrap.group{
	background: #f4f4f4;
}
.accordion.active .sf-img-box-hide{
	display: none;
}
.accordion .sf-img-box-hide{
		display: none;
}
.img-sf{
	width: 50%;
}

@media only screen and (min-width:1201px ) {
	.sf-img-box-hide{
		display: block;
	}
	
}
@media only screen and (max-width:801px ) {
	.breadcrumb{
	display: none;
}

}
@media only screen and (max-width:1201px ) {
	.land-one .flor,.land-one .flol{
		width: 100%;
	}
	.container.land-one{
		width: 100%;
	}
	.land-one .flol{
		padding: 50px 20px 30px;
	}
	.land-one-li{
		float: left;
		margin-right:50px ;	
	}
	.accordion.active{
		width: 100%;
		height: auto;
	}
	
	.sf-img-box{
		display: none;
	}


	.accordion.active .sf-img-box-hide.on{
		display: block;
	}
	.accordion-text.active{
		width: 100%;
	}
	.odyasent2-box{
		width: 100%;
	}
}
@media (min-width:768px) {
	.see-more{
		display: none;
	}
	.land-one-li{
		float: none;
	}
}
@media only screen and (max-width:768px ) {
	 .hourse{
		width: 48%;
		background: #f2f0ec;
		margin: 0 4px 8px
	}
	
}






