/*集团业务css*/

.ghg-group-commonwrap {
	background: #f4f4f4;
}
.ghg-containerBox .ghg-contentBox {
	background: #fff;
	padding-top: 60px;
}
.ghg-containerBox .ghg-contentBox:nth-child(2) {
	padding-top: 0px;
}
.ghg-group-main {
	position: relative;
	background: #f8f6f1;
}
.ghg-containerBox .ghg-group-rightTitle .ghg-real{
	font-size: 88px;
}
.ghg-group-rightTitle p {
 margin: 0;	
}
.ghg-group-rightTitle .col-md-5 {
	padding-top: 50px;
}
.ghg-group-rightTitle .col-md-5 span {
	vertical-align: -6px;
	color: #737373;
}
.ghg-watdown {
	margin-top: 25px;
	background: #eb3c00;
	width:80px;
	height: 81px;
	transition:width .5s;
	-moz-transition:width .5s; /* Firefox 4 */
	-webkit-transition:width .5s; /* Safari and Chrome */
	-o-transition:width .5s; /* Opera */
}
.ghg-watdown:hover {
	width: 100%;
}
.col-md-5 .ghg-watdown .ghg-company {
	color: #fff;
	text-align: left;
	line-height: 80px;
	font-size: 16px;
}
.ghg-watdown-btns {
	display: none;
	text-align: center;
}
.ghg-watdown:hover .ghg-watdown-btns {
	display: block;
}
.ghg-dropdown-button:hover .dropdown-menu {
	display: block;
}
.ghg-watdown-btns .dropdown-menu {
	width: 280%;
	top: 80px;
	left: -51%;
	background: #e2e2e2;
	overflow-y: scroll;
	height: 300px;
}
.ghg-drop-box li {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 10px;
}
.ghg-drop-box li h1 {
	display: inline-block;
	width: 79px;
	height: 90px;
	font-size: 24px;
	text-align: center;
	color: #676767;
	line-height: 90px;
	background: url(../img/textBg.jpg)center center no-repeat;
}
.ghg-drop-box li p {
	width: 260px;
}
.ghg-group-carousel .carousel-indicators  {
	position: absolute;
    top: 80%;
    left: 40%;
    z-index: 15;
    width: 16%;
    height: 10%;
}
.ghg-group-carousel .carousel-indicators li{
    width: 25%;
    height: 20%;
    background: #fff;
}
.ghg-group-carousel .carousel-indicators li.active {
	background: #EB3C00;
	background-color:  #EB3C00;
    border: 1px solid  #EB3C00;
}
.ghg-group-carousel .carousel-caption {
	width: 150px;
	height: 83px;
	line-height: 45px;
	background: #EB3C00;
	left: 78%;
	right: 0;
	bottom: 0;
}
.ghg-landstry {
	background: #f3f1ec url(../img/landBg2.png) 530px top no-repeat;
}
.ghg-landstry img {
	width: 100%;
}
.ghg-title-box {
	margin-top: 30px;
}
.ghg-tab-title {
	display: inline-block;
	width: 135px;
	height: 48px;
	text-align: center;
	font-size: 14px;
	color: #898989;
	line-height: 46px;
	border: 2px solid #C0C0C0;
}
.ghg-title-box .ghg-tab-title.active {
	background: #eb3c00;
	border: 2px solid #eb3c00;
	color: #fff;
}
.ghg-containerBox .col-md-7,
.ghg-containerBox .col-md-5 {
	padding: 0;
}

.ghg-title-box .ghg-tab-list {
	display: none;
	color: #898989;
}
.ghg-title-box .ghg-tab-list.active {
	display: block;
}
.ghg-searchRes {
	height: 212px;
	background: url(../img/buildBg.png)left bottom no-repeat;
}
.ghg-landstr-right {
	height: 331px;
	margin-top: 56px;
	padding-left: 80px;
}
.ghg-group-rightTitle .ghg-landstr-right span.glyphicon-triangle-bottom {
	position: absolute;
	right: 8px;
	top: 40%;
	
}
/*下拉菜单*/
.ghg-selsect-box {
	width: 135px;
	margin-left: 10px;
	cursor: pointer;
}
.selsect-lists {
	background: #fff;
	height: 200px;
	font-size: 14px;
	line-height: 40px;
	overflow-y: scroll;
	display: none;
}
.selsect-lists::-webkit-scrollbar{
	width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.selsect-lists::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}

.selsect-lists::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.select-title input {
	width: 100%;
	border: 0;
	padding-left: 30px;
	padding-right: 20px;
	height: 100%;
	text-align: center;
}
.ghg-landstr-right .ghg-cal-img {
	position: absolute;
	top: 1%;
	left: 5px;
}
.selsect-lists.show {
	display: block;
}
.selsect-lists li:hover {
	background: #f2f2f2;
}
.ghg-btn-butn {
	margin-left: 10px;
	background: #fff;
	line-height: 42px;
	width: 45px;
	border: 2px solid #C0C0C0;
	height: 46px;
}
.ghg-btn-butn img {
	width: 60%;
}
.ghg-entrance {
	width: 100%;
	height: 580px;
	position: relative;
	background: url(../img/ico7.jpg);
}
.ghg-entrance-bar {
	position: absolute;
	top: 0;
	padding: 46px 30px 45px;
	left: 50px;
	width: 411px;
	background: #fff url(../img/ico8.png) no-repeat right 0;
}
.ghg-text-title{
	color: #bc8f4b;
}
.ghg-entrance-more {
	display: inline-block;
	background: #EB3C00;
	width: 140px;
	height: 60px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 60px;
}
.ghg-entrance-more:hover {
	color: #fff;
}

/*商置*/
.ghg-sideitBox {
	padding: 0;
}
.ghg-rightTitlebx p {
	margin-bottom: 0;
}
.ghg-rightTitlebx p:nth-child(1){
	color: #5ab669;
	font-size: 22px;
}
.ghg-rightTitlebx p:nth-child(2){
	color: #eeeeef;
	font-size: 124px;
	font-family: "calisto mt";
	text-indent: -6px;
	letter-spacing: -9px;
}
.ghg-rightTitlebx p:nth-child(3){
	color: #8D8D8D;
	font-size: 30px;
}
.ghg-list-box p {
	margin-bottom: 20px;
	font-size: 16px;
	color: #3B3A40;
	opacity: 0.6;
}
.ghg-consult-list {
	margin: 0;
	background: #f2f0ec url(../img/industryBg.png) center center no-repeat;
}
.ghg-consult-list .ghg-lists {
	padding: 0 0 35px;
}
.ghg-sideit-list-h3 {
	color: #585858;
	font-size: 20px;
	opacity: 0.5;
}
.ghg-lists .ghg-bomBox {
	margin: 0 37px;
}
.ghg-holiday {
	width: 45%;
}
.ghg-holiday>img {
	width: 100%;
	
}
.ghg-holiday-kick {
	width: 100%;
	height: 165px;
	padding: 30px 30px 0;
	background: #fff;
}
.ghg-holiday-kick h4 {
	color: #2D2D3B;
	opacity: 0.6;
}
.ghg-holiday-kick p {
	color: #919191;
	opacity: 0.6;
}
.ghg-noliday {
	background: linear-gradient(-45deg,transparent 20px,#4bb033 0);
}
.ghg-noliday h4, .ghg-noliday p {
	color: #fff;
}
.ghg-holiday:nth-child(2) {
	margin-left: 10%;
}
.ghg-linkList {
	background: #474747;
	width: 100%;
	height: 163px;
	padding: 0 37px;
	display: none;
}
.ghg-linkList-list {
	padding: 15px 0 35px;
}
.ghg-linkList-list .ghg-link-wabs {
	font-size: 18px;
	padding-left: 45px;
	background: url(../img/web.png) left center no-repeat;
	line-height: 48px;
	color: #fff;
	border-bottom: 2px solid #6c6c6c;
	margin-bottom: 30px;
}
.ghg-linkList-list p a {
	padding-right: 20px;
	color: #eb3d00;
}
.ghg-linkList-list p a + a {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0 0px 15px 20px;
	color: #eb3d00;
	border-left: 1px solid #6c6c6c;
}
.ghg-linkList-list p a:hover {
	color: #4bb033;
}
.ghg-commercialaa {
	width: 100%;
	margin: 0 auto;
	background: #f8f8f8 url(../img/estateBottomBg.jpg) center top no-repeat;
}
.ghg-commercialaa .col-md-4 {
	height: 476px;
	padding: 20px 0 0 40px;
	position: relative;
}
.ghg-commercialaa .col-md-4:nth-child(3) {
	padding: 20px 20px 0 10px;
}
.ghg-commercialaa .ghg-index-bar {
	position: absolute;
	bottom: 120px;
	left: 40px;
}
.ghg-index-commer {
	background: url(../img/greenqiu.png) left center no-repeat;
	padding-left: 35px;
	margin: 0;
	font-size: 16px;
	color: #5ab669;
	line-height: 40px;
}
.ghg-rightBoxss .ghg-rightBoxss-h1 {
	padding-top: 65px;
	font-size: 16px;
	color: #3d3a4d;
	opacity: .6;
	margin: 0;
	padding-bottom: 20px;
}
.ghg-rightBoxss ul {
	padding-bottom: 85px;
}
.ghg-rightBoxss li {
	padding-left: 20px;
	background: url(../img/fang.png) left 5px no-repeat;
	font-size: 14px;
	color: #3b3a40;
	opacity: .6;
}
/*物业*/
.ghg-cotentlist p:nth-child(1) {
	font-size: 20px;
    color: #bc8f4b;
    margin-bottom: 0;
}
.ghg-cotentlist p:nth-child(2){
	color: #eeeeef;
	font-size: 100px;
	text-indent: -6px;
	letter-spacing: -9px;
}
.ghg-cotentlist p:nth-child(3){
	color: #8D8D8D;
	font-size: 30px;
}
.hg-zhishan {
	display: inline-block;
	width: 363px;
	height: 81px;
	line-height: 80px;
	font-size: 16px;
	color: #fff;
	margin-left: 5px;
	text-align: center;
	background: #b89f86;
}
.hg-zhishan:hover {
	color: #fff;
}
.ghg-ckg_wr {
	background: url(../img/property_pic.jpg) no-repeat center;
	background-size: auto 100%;
	height: 565px;
}

/* 徐灿 金融 */
.ghg-financial{
	height: 342px;
	padding-top: 70px;
}
.ghg-financial-left h1{
	font-size: 20px;
    color: #bc8f4b;
}
.ghg-containerBox{
	background: #fff;
}
.ghg-financial-left h2{
	font-size: 124px;
    color: #eeeeef;
    line-height: 95px;
    font-family: CALIBRI;
    text-indent: -8px;
    letter-spacing: -9px;
}
.ghg-financial-left p{
	font-size: 30px;
    color: #8d8d8d;
}
.ghg-financial-right h1{
	font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    opacity: 0.6;
    color: #3b3a40;
}
.ghg-financial-right {
	width: 447px;
}

.ghg-financial-right p{
	font-size: 14px;
    line-height: 24px;
    opacity: 0.6;
    color: #3b3a40;
    padding-bottom: 30px;
}

.ghg-financial-right .text{
	font-size: 48px;
    vertical-align: middle;
    opacity: 1;
    color: #000;
}
.ghg-financial-bottom{
	position: relative;
    overflow: hidden;
    font-size: 0;
    padding-left: 84px;
}

.ghg-financial-bottom a{
	display: block;
    width: 100%;
    line-height: 81px;
    background: #eeb742;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.ghg-financial-bottom img{
	position: absolute;
    left: 0;
    bottom: 0;
}
.ghg-plate-cont{
	background: #f2f0ec;
	padding-bottom: 80px;
}
.ghg-plate{
	position: relative;
}
.ghg-plate h1{
	color: #898989;
    font-size: 18px;
    padding-bottom: 2px;
    text-align: center;
}
.ghg-plate h2{
	color: #585858;
    font-size: 20px;
    opacity: 0.5;
    padding-bottom: 30px;
    text-align: center;
}
.ghg-plate-box{
    position: relative;
    width: 812px;
    height: 361px;
    margin: 0 auto;
    overflow: hidden;
}
.ghg-plate-box ul li{
	width:386px;
	float: left;
	margin: 0 10px;
}
.ghg-plate-box ul li img{
	width: 100%;
}
.ghg-textBox{
	position: relative;
    height: 129px;
    padding: 30px 30px 0;
    background: #fff;
}
.ghg-textBox h1{
	color: #2d2d3b;
    font-size: 18px;
    opacity: 0.67;
    text-align: left;
    margin-top: 0;
}
.ghg-textBox p{
	color: #919191;
    font-size: 14px;
    opacity: 0.67;
}

.ghg-textBox:hover h1,
.ghg-textBox:hover p{
	color: #fff;
	opacity: 1;
}
.ghg-textBox:hover{
	position: relative;
    height: 129px;
    padding: 30px 30px 0;
    background: linear-gradient(-45deg,transparent 20px,#eeb742 0);
}
.ghg-plate-btn{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50%;
}
.ghg-plate-prev{
	background: url(../img/xuc-left.png) no-repeat;
}
.ghg-plate-next{
	background: url(../img/xc-right.png) no-repeat;
	right: 0;
}
/*集团业务css*/
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	background: #ccc;
}
.ghg-group-commonwrap {
	background: #f4f4f4;
}
.ghg-contentBox {
	background: #fff;
}

.ghg-containerBox .ghg-group-rightTitle .ghg-real{
	font-size: 88px;
}
.ghg-group-rightTitle p {
 margin: 0;	
}
.ghg-group-rightTitle .col-md-5 {
	padding-top: 50px;
}
.ghg-group-rightTitle .col-md-5 span {
	vertical-align: -6px;
	color: #737373;
}
.ghg-watdown {
	margin-top: 25px;
	background: #eb3c00;
	width:80px;
	height: 81px;
	transition:width .5s;
	-moz-transition:width .5s; /* Firefox 4 */
	-webkit-transition:width .5s; /* Safari and Chrome */
	-o-transition:width .5s; /* Opera */
}
.ghg-watdown:hover {
	width: 100%;
}
.col-md-5 .ghg-watdown .ghg-company {
	color: #fff;
	text-align: left;
	line-height: 80px;
	font-size: 16px;
}
.ghg-watdown-btns {
	display: none;
	text-align: center;
}
.ghg-watdown:hover .ghg-watdown-btns {
	display: block;
}
.ghg-dropdown-btn:hover .dropdown-menu {
	display: block;
}


/* 徐灿 金融 */
.ghg-financial{
	height: 342px;
	padding-top: 70px;
}
.ghg-financial-left h1{
	font-size: 20px;
    color: #bc8f4b;
}
.ghg-containerBox{
	background: #fff;
}
.ghg-financial-left h2{
	font-size: 124px;
    color: #eeeeef;
    line-height: 95px;
    font-family: CALIBRI;
    text-indent: -8px;
    letter-spacing: -9px;
}
.ghg-financial-left p{
	font-size: 30px;
    color: #8d8d8d;
}
.ghg-financial-right h1{
	font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    opacity: 0.6;
    color: #3b3a40;
}
.ghg-financial-right {
	width: 447px;
}

.ghg-financial-right p{
	font-size: 14px;
    line-height: 24px;
    opacity: 0.6;
    color: #3b3a40;
    padding-bottom: 30px;
}

.ghg-financial-right .text{
	font-size: 48px;
    vertical-align: middle;
    opacity: 1;
    color: #000;
}
.ghg-financial-bottom{
	position: relative;
    overflow: hidden;
    font-size: 0;
    padding-left: 84px;
}

.ghg-financial-bottom a{
	display: block;
    width: 100%;
    line-height: 81px;
    background: #eeb742;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.ghg-financial-bottom img{
	position: absolute;
    left: 0;
    bottom: 0;
}
.ghg-plate-cont{
	background: #f2f0ec;
	padding-bottom: 80px;
}
.ghg-plate-cont .container{
	padding-top: 30px;
}
.ghg-plate{
	position: relative;
}
.ghg-plate h1{
	color: #898989;
    font-size: 18px;
    padding-bottom: 2px;
    text-align: center;
}
.ghg-plate h2{
	color: #585858;
    font-size: 20px;
    opacity: 0.5;
    padding-bottom: 30px;
    text-align: center;
}
.ghg-plate-box{
    position: relative;
    width: 812px;
    height: 361px;
    margin: 0 auto;
    overflow: hidden;
}
.ghg-plate-box ul li{
	width:386px;
	float: left;
	margin: 0 10px;
}
.ghg-plate-box ul li img{
	width: 100%;
}
.ghg-textBox{
	position: relative;
    height: 129px;
    padding: 30px 30px 0;
    background: #fff;
}
.ghg-textBox h1{
	color: #2d2d3b;
    font-size: 18px;
    opacity: 0.67;
    text-align: left;
    margin-top: 0;
}
.ghg-textBox p{
	color: #919191;
    font-size: 14px;
    opacity: 0.67;
}

.ghg-textBox:hover h1,
.ghg-textBox:hover p{
	color: #fff;
	opacity: 1;
}
.ghg-textBox:hover{
	position: relative;
    height: 129px;
    padding: 30px 30px 0;
    background: linear-gradient(-45deg,transparent 20px,#eeb742 0);
}
.ghg-plate-btn{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50%;
}
.ghg-plate-prev{
	background: url(../img/xuc-left.png) no-repeat;
}
.ghg-plate-next{
	background: url(../img/xc-right.png) no-repeat;
	right: 0;
}
.ghg-industry-Box .ghg-financial-left h1{
	color: #0656a2;
}
.ghg-industry-Box .ghg-financial-right .ghg-financial-bottom a{
	background: #0656a2;
}
/* 产业 */
.ghg-industry-list{
	width: 100%;
	background: #f2f0ec;
}
.ghg-industry-list .container{
	width: 1220px;
    padding: 50px 0 35px;
}
.ghg-industry-list h1{
	color: #898989;
    font-size: 18px;
    padding-bottom: 2px;
    text-align: center;
}
.ghg-industry-list h2{
	color: #585858;
    font-size: 20px;
    opacity: 0.5;
    padding-bottom: 35px;
    text-align: center;
}
.ghg-industry-content{
	overflow: hidden;
}
.ghg-industry-content ul li{
	width: 33.33%;
    padding: 0 10px;
    float: left;
}
.ghg-industry-content ul li img{
	width: 100%;
}
.ghg-industry-content .ghg-textBox h1{
	text-align: left;
}
.ghg-industry-content .ghg-textBox:hover{
	position: relative;
    height: 129px;
    padding: 30px 30px 0;
    background: linear-gradient(-45deg,transparent 20px,#0656a2 0);
}
.ghg-industry-works {
	background:  url(../img/xc-industryBg1.png);
}
.ghg-industry-works .container{
	height: 584px;
	position: relative;
}
.ghg-industry-works .ghg-workBox{
    position: absolute;
    background: #fff;
    left: 0;
    top: 300px;
    width: 380px;
    height: 418px;
    border-top: 5px solid #4b88c2;
    padding: 40px 28px;
    color: #3b3a40;
    display: none;
}
.ghg-industry-works .ghg-workBox h1{
	font-size: 16px;
    padding-bottom: 20px;
    opacity: 0.6;
}
.ghg-industry-works .ghg-workBox p{
	font-size: 14px;
    padding-bottom: 20px;
    opacity: 0.6;
    line-height: 24px;
}

/*1200*/
@media only screen and (max-width: 1200px) {
	.ghg-financial-Box .container{
		padding-left: 20px;
   		padding-right: 20px;
   		margin: 0;
   		width: 100%;
	}
	.ghg-financial{
		height: 100%;
		padding-bottom: 30px;
		padding-top: 20px;
	}
	.ghg-financial-right{
		float: none;
		width: 100%;
	}
	.ghg-financial-right h1{
		margin: 0;
		margin-top: 10px;
		width: 100%;
	}
	.ghg-financial-left{
		float: none;
	}
	.ghg-industry-list .container{
		width: 100%;
		padding: 50px 0 35px;
	}
	.ghg-financial-left h2,
	.ghg-financial-left h1,
	.ghg-financial-left p{
		margin: 0;
	}
	.ghg-industry-works .container{
		margin: 0;
	}
	/*商置*/
	.ghg-commercialaa {
		
		width: 100%;
		margin: 0 auto;
		background: #f8f8f8 url(../img/estateBottomBg.jpg) center top no-repeat;
	}
	.ghg-rightBoxss ul {
		padding-bottom: 20px;
	}
	.ghg-commercialaa .col-md-4 {
		width: 50%;
		height: 277px;
		padding: 20px 0 0 40px;
	}
	.ghg-commercialaa .col-md-4:nth-child(3) {
		padding: 20px 20px 0 10px;
		width: 100%;
		height: 200px;
	}
	.ghg-commercialaa .ghg-index-bar {
		position: absolute;
		bottom: 60px;
		left: 40px;
	}
	.ghg-index-commer {
		background: url(../img/greenqiu.png) left center no-repeat;
		padding-left: 35px;
		margin: 0;
		font-size: 16px;
		color: #5ab669;
		line-height: 40px;
	}
	.ghg-rightBoxss .ghg-rightBoxss-h1 {
		padding-top: 15px;
		margin: 0;
		padding-bottom: 20px;
	}
	.ghg-rightBoxss li {
		padding-left: 20px;
	}
	.ghg-listshang {
		display: none;
	}

}
@media only screen and (max-width: 959px) {
	.ghg-plate-box{
		width: 405px;
	}
	.ghg-commercialaa .col-md-4:nth-child(2) {
		display: none;
	}
	.ghg-commercialaa .col-md-4:nth-child(1) {
		padding: 20px 0 0 10px;
	}
	.ghg-holiday-kick {
		padding: 15px 15px 0;
	}
}
/*地产页屏*/
@media only screen and (max-width: 900px) {
	.ghg-industry-content .ghg-textBox{
		height: 160px;
	}
	.ghg-industry-content .ghg-textBox:hover{
		position: relative;
	    height: 160px;
	    padding: 30px 30px 0;
	    background: linear-gradient(-45deg,transparent 20px,#0656a2 0);
	}
}
@media only screen and (max-width: 700px) {
	.ghg-industry-content ul li{
		width: 100%;
		padding: 0 20px;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width:678px ) {
	.ghg-entrance-bar {
		width: 80%;
	}
	.ghg-containerBox .ghg-group-rightTitle .ghg-real {
		font-size: 35px;
	}
	.ghg-searchRes {
		height: 50px;
	}
	.ghg-landstr-right {
		height: 200px;
		padding-left: 20px;
	}
	.selsect-lists {
		height: 80px;
	}
	.ghg-holiday {
		width: 100%;
	}
	.ghg-holiday:nth-child(2) {
		margin-left: 0;
		margin-top: 20px;
	}
	.ghg-commercialaa .ghg-index-bar {
		position: absolute;
		bottom: 20px;
		left: 40px;
	}
	.ghg-rightTitlebx p:nth-child(2) {
		font-size: 70px;
	}
	.ghg-commercialaa .ghg-index-bar {
		position: absolute;
		bottom: 0px;
		left: 40px;
		padding: 0;
	}
	.ghg-commercialaa .ghg-index-bar li {
		float: left;
		width: 260px;
	}
}

@media only screen and (max-width: 470px) {
	.ghg-plate-box ul li{
		width: 300px;
	}
	.ghg-plate-box{
		width: 300px;
	}
	.ghg-financial-left h2{
		font-size: 89px;
	}
	.ghg-industry-works .ghg-workBox{
		width: 90%;
    	left: 5%;
	}
}
@media only screen and (max-width: 320px) {
	.ghg-plate-box{
		width: 286px;
	}
	.ghg-plate-box ul li{
		width: 286px;
	}
	.ghg-financial-left h2{
		font-size: 88px;
	}
}

