/*首页样式*/


/* 向下的箭头*/
.ghg-arrows {
	width:100px;
	height:100px;
	position: absolute;
	left: 50%;
	top: 65%;
	/* Safari and Chrome: */
	-webkit-animation:myfirst 2s linear 1s infinite alternate;
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {background:transparent; left:50%; top:65%;}
	50%  {background:transparent; left:50%; top:70%;}
	100% {background:transparent; left:50%; top:65%;}
}

/*轮播图按钮背景色重置*/
/*轮播图*/
.ghg-collapse {
	position: ;
	top: 0;
	left: 0;
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 1;
}

.carousel-control.left,
.carousel-control.right {
	background: transparent;
	color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    position: absolute;
    overflow: hidden;
    opacity: .9;
}
/*大小图片*/
.ghg-collapse .item > img.ghg-item-small {
	display: none;
}
.ghg-collapse .item > img {
	height: 581px;
}
/*左右按钮*/
.ghg-front-back {
	position: absolute;
	top: 40%;
	color: #444444;
	width: 25px;
	height: 45px;
}
.ghg-front-back.right {
	left: 110%;
	transition:left 0.4s;
	-webkit-transition:left 0.4s; 
}
.ghg-front-back.left {
	left: -30%;
	transition:left 0.4s;
	-webkit-transition:left 0.4s; 
}
.ghg-collapse:hover .ghg-front-back.right {
	left: 40%;
}
.ghg-collapse:hover .ghg-front-back.left {
	left: 50%;
}
.ghg-front-back .glyphicon-menu-left ,
.ghg-front-back .glyphicon-menu-right {
	position: absolute;
	top: 25%;
	left: 5%;
}
.ghg-one {
    width: 25px;
    height: 45px;
    margin: 0 auto;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: #fff;
}
.ghg-two {
    position: absolute;
    width: 25px;
    height: 45px;
    left: 0px;
    top: 0;
    background: #fff;
    transform: translate(-50%,-50%);
    transform: rotate(60deg);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.ghg-three {
    position: absolute;
    width: 25px;
    height: 45px;
    left: 0px;
    top: 0;
    background: #fff;
    transform: translate(-50%,-50%);
    transform: rotate(300deg);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.ghg-front-back:hover {
	color: #fff;
}
.ghg-front-back:hover .ghg-one ,
.ghg-front-back:hover .ghg-two ,
.ghg-front-back:hover .ghg-three {
	background: #EB3C00
}
/*文本table表*/
.ghg-index-content {
	background: #f4f4f4;
	padding-top: 600px;
}
.ghg-index-content .container {
	background: #f4f4f4;
	width: 100%;
	position: relative;
	z-index: 5;
	padding-top: 44px;
	padding-bottom: 28px;
}
.ghg-index-content .container .col-md-7,
.ghg-index-content .container .col-md-5 {
	background: transparent;
	padding: 0;
}
.ghg-index-content .ghg-news {
	width: 100%;
	background: #fff;
	padding: 0 36px 25px;
}
.ghg-news b {
	color: #848484;
	font-size: 29px;
}
.ghg-news .ghg-news-title span {
	line-height: 28px;
	color: #BC8F4B;
}
.ghg-contet-list {
	height: 60px;
	padding-bottom: 25px;
	
}
.ghg-contet-list span {
	display: inline-block;
	width: 56px;
	height: 45px;
	padding-top: 20px;
	font-size: 14px;
	color: rgba(94, 91, 94, 0.56);
	margin-right: 20px;
	cursor: pointer;
}
.ghg-contet-list span.active {
	border-top: 3px solid #EB3C00;
}
.ghg-tab-list {
	display: none;
}
.ghg-tab-list.active {
	display: block;
}
.ghg-business {
	height: 250px;
	margin-left: 10px;
}
.ghg-business-tab {
	background: #fff;
	width: 19.5%;
	height: 100%;
	margin-right: 4px;
	position: relative;
}
.ghg-business-tab a.ghg-tabl1 {
	background: #ea4b3d;
}
.ghg-business-tab a.ghg-tabl2 {
	background: #eeb742;
}
.ghg-business-tab a.ghg-tabl3 {
	background: #0656a2;
}
.ghg-business-tab a.ghg-tabl4 {
	background: #4bb033;
}
.ghg-business-tab a.ghg-tabl5 {
	background: #baa289;
}
.ghg-business-tab:last-child {
	margin-right: 0;
}
.ghg-business-tab a {
	display: inline-block;
	height: 5px;
	width: 100%;
	transition:height 0.5s;
	-moz-transition:height 0.5s; /* Firefox 4 */
	-webkit-transition:height 0.5s; /* Safari and Chrome */
	-o-transition:height 0.5s; /* Opera */
	
}
.ghg-business-tab a:hover {
	height: 100%;
}
.ghg-business-tab a:hover p,
.ghg-business-tab a:hover h1 {
	color: #fff;
	
}
.ghg-business-tab p {
	color: rgba(121, 104, 121, 0.15);
	padding: 0 0 82px 16px;
}
.ghg-business-tab h1 {
	padding: 85px 0 37px 16px;
}

.ghg-index-content .ghg-small-collapse {
	background: #f4f4f4;
	width: 100%;
	position: relative;
	z-index: 5;
	height: 212px;
}

.ghg-small-collapse .col-md-5,
.ghg-small-collapse .col-md-7 {
	height: 212px;
	padding: 0;
}
.ghg-small-collapse .col-md-7 {
	padding-left: 15px;
}
.ghg-small-collapse .col-md-7 .ghg-battle {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../img/indexBottomRight.jpg) no-repeat;
}
.ghg-strategy {
	position: absolute;
	bottom: 35px;
	left: 25px;
	font-family: haettenschweiler;
}
.ghg-describe {
	width: 280px;
	position: absolute;
	right: 8%;
	bottom: 20px;
}
.ghg-small-collapse .col-md-5 .ghg-small-bar,
.ghg-small-bar .carousel-inner,
.ghg-small-bar .carousel-inner .item{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.ghg-small-bar .carousel-inner .item.ghg-carousel-img2 {
	background: url(../img/indexBottomLeft1.jpg) right center no-repeat;
	position: relative;
	width: 581px;
}
.ghg-small-bar .carousel-inner .item.ghg-carousel-img1 {
	background: url(../img/indexBottomLeft2.jpg) right center no-repeat;
	position: relative;
	width: 581px;
}
.ghg-small-bar .carousel-indicators  {
	position: absolute;
    top: 20px;
    left: 108%;
    z-index: 15;
    width: 16%;
    height: 10%;
}
.ghg-small-bar .carousel-indicators li{
    width: 25%;
    height: 20%;
    background: #fff;
}
.ghg-small-bar .carousel-indicators li.active {
	background: #EB3C00;
	background-color:  #EB3C00;
    border: 1px solid  #EB3C00;
}
.ghg-small-bar .carousel-caption {
   	bottom: 83px;
    left: 20%;
}
/*超小屏*/
.ghg-small-title {
	display: none;
}
.ghg-small-title p {
	color: #dad9da;
}
.ghg-mediaNews {
	background: #fff;
	height: 520px;
	width: 100%;
	padding: 20px;
	display: none;
}
.ghg-newsImg {
	padding-top: 30px;
	border-top: 2px solid #5E5E5E;
}
.ghg-newsImg img {
	width: 40%;
	margin-top: 2%;
}
.ghg-newsLists {
	width: 52%;
	margin-left: 20px;
	padding-bottom: 20px;
}
.ghg-newsLists .ghg-news-title {
	color: #e62129;
}
.ghg-news-listbar li {
	line-height: 50px;
	border-top: 1px solid #d8d8d8;
}
.ghg-news-listbar li p {
	width: 70%;
}
.ghg-news-more a {
	display: inline-block;
	width: 100%;
	line-height: 52px;
	text-align: center;
	color: #E62129;
	font-size: 14px;
	border: 1px solid #E62129;
}
.ghg-sx-sliderBox1 {
	display: none;
	height: 100%;
	padding: 40px 20px 20px;
}
.ghg-sx-sliderBox1 .ghg-otherLink {
	width: 100%;
	margin-bottom: 40px;
}
.ghg-sx-sliderBox1 .ghg-otherLink a {
	position: relative;
	display: inline-block;
	width: 49.5%;
	margin-right: -4px;
}
.ghg-otherLink img {
	width: 100%;
}
.ghg-sx-sliderBox1 .ghg-otherLink span {
	position: absolute;
	top: 40%;
	left: 40%;
}
.ghg-sx-sliderBox1 .ghg-small-bar .carousel-caption {
	background: #080808;
	height: 100%;
	width: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 10;
    padding: 60px 0 0 48px;
    opacity: 0.5;
    color: #fff;
    text-align:left;
}
.ghg-sx-sliderBox1 .carousel-caption p {
	color: #fff;
	padding-bottom: 5px;
}
.ghg-sx-sliderBox1 .carousel-caption span {
	color: #ea4b3d;
	vertical-align: 5px;
}
.ghg-sx-sliderBox1 .carousel-caption img {
	width: 17px;
}

/*变化第一屏*/
@media only screen and (max-width:1200px ) {
	.ghg-collapse .item > img {
		width: 100%;
	}
	.ghg-index-content .container .col-md-7,
	.ghg-index-content .container .col-md-5 {
		background: transparent;
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.ghg-index-content .container .col-md-7 {
		padding: 0 25px;
	}
	.ghg-index-content .container {
		background: #f4f4f4;
		width: 100%;
		position: relative;
		z-index: 5;
		padding-top: 44px;
		padding-bottom: 28px;
		padding-left: 0;
		padding-right: 0;
	}
	.ghg-small-collapse .col-md-5,
	.ghg-small-collapse .col-md-7 {
		float: none;
		width: 100%;
	}
	.ghg-small-collapse .col-md-7 {
		padding-left: 0;
		margin-top: 30px;
	}
	.ghg-small-bar .carousel-inner .item.ghg-carousel-img2 {
		width: 100%;
	}
	.ghg-small-bar .carousel-inner .item.ghg-carousel-img1 {
		width: 100%;
	}
	.ghg-describe {
		right: 25%;
	}
	.ghg-index-content .ghg-small-collapse {
		height: 454px;
		padding: 0 36px;
	}
	.ghg-small-bar .carousel-caption {
	   	width: 40%;
	    left: 50%;
	}
}
/*第二屏*/
@media only screen and (max-width:767px ) {
	.ghg-arrows {
		display: none;
	}
	.ghg-collapse .carousel-control {
		display: none;
	}
	.ghg-collapse .item > img.ghg-item-small {
		display: block;
	}
	.ghg-collapse .item > img.ghg-item-big {
		display: none;
	}
	.ghg-business {
		margin-left: 0;
	}
	.ghg-business-tab {
		background: #fff;
		width: 47%;
		height: 100%;
		margin: 0 1.4% 20px;
	}
	
}


@media only screen and (max-width:640px ) {
	.ghg-index-content {
		background: #f4f4f4;
		padding-top: 300px;
	}
	/*新闻*/
	.ghg-small-title {
		display: block;
	}
	.ghg-index-content .container .col-md-5,
	.ghg-small-collapse .col-md-7,
	.ghg-small-collapse .col-md-5 {
		display: none;
	}
	
	.ghg-index-content .container {
		padding-top: 30px;
	}
	.ghg-index-content .ghg-small-collapse {
		padding: 0;
		height: 100%;
	}
	.ghg-mediaNews {
		display: block;
	}
	.ghg-sx-sliderBox1 {
		display: block;
	}
}
@media only screen and (max-width:479px ) {
	.ghg-collapse .item > img {
		height: 301px;
	}
	.ghg-business {
		height: 130px;
	}
	.ghg-business-tab {
		background: #fff;
		width: 19%;
		height: 100%;
		margin: 0 0.5% 20px;
	}
	.ghg-business-tab p {
		color: rgba(121, 104, 121, 0.15);
		padding: 0 0 40px 5px;
		font-size: 12px;
	}
	.ghg-business-tab h1 {
		padding: 40px 0 20px 16px;
		font-size: 14px;
	}
	
}

