/*IR部分:表示投资者关系*/
*{
	list-style-type: none;
}
.ghg-con-1200{
	max-width: 1200px;
	margin: 0 auto;
}
.ghg-banner .ghg-bannerS{
	max-height: 169px;
	overflow: hidden;
}
.ghg-banner .ghg-bannerS img{
	width: 100%;
}
.ghg-tagsA{
	background: #F7F7F7;
}
.ghg-tag .ghg-tagS ul{
	display: flex;
	justify-content: space-between;
	height: 66px;
	line-height: 66px;
	padding: 0 5px;
	margin: 0;
}
.ghg-tag>.ghg-tagS>ul>li>a{
	text-decoration: none;
	color: #757575;
}
.ghg-mainSB{
	background: url(../img/zhiBg.jpg) center;
	background-size: 100% 100%;
}
.ghg-mainS-one{
	margin:75px 5px 25px 5px;
}
.ghg-mainS-two,.ghg-mainS-three{
	margin: 5px 5px 25px 5px;	
}
.ghg-mainS-four{
	margin: 10px 5px 40px 5px;
}
.ghg-mainS-two,.ghg-mainS-three{
	border-bottom:2px solid #E8E8E8 ;
}
.ghg-summary{
	padding: 55px 20px 40px;
}
.ghg-summary h1{
	font-size: 29px;
	color: #EB3C00;
	margin: 0;
	font-weight: bold;
}
.ghg-summary h2{
	font-size: 20px;
	color: #bc8f4b;
	margin: 0;
}
.ghg-summary h3{
	font-size: 15px;
	color: #676671;
	padding: 35px 0 30px;
	margin: 0;
}
.ghg-summary p{
	font-size: 14px;
	color: #898989;
	margin: 0;
}

.ghg-listSB{
	padding: 50px 20px 80px;
	background: #F9F6F1;
}
.ghg-listS h1{
	font-size: 29px;
	color: #EB3C00;
	margin: 0;
	font-weight: bold;
}
.ghg-listS h2{
	font-size: 20px;
	color: #bc8f4b;
	margin: 0;
}
.ghg-inputBox{
	display: flex;
	justify-content: flex-end;
}
.ghg-searchBox{
	border: 1px solid salmon;
}

.ghg-tilib{
	height: 50px;
	width: 188px;
	background: #ffffff;
	text-align: center;
	line-height: 50px;
	border: 1px solid #ADADAD;
	margin: 0 10px;
	color: #ADADAD;
}
.ghg-selBoxul{
	color: #ADADAD;
	height: 50px;
	width: 188px;
	cursor: pointer;
}
.ghg-selBoxul span{
	display: inline-block;
	padding: 0 20px;
	
	
}
.ghg-inp{
	display: flex;
	justify-content: space-between;
	
	height: 50px;
	width: 188px;
	
}
.ghg-inp{
	color: #ADADAD;
}
.ghg-inp li:nth-child(2){
	padding: 0 20px;
	font-size: 20px;
	color: #ADADAD;
}
	
.ghg-inp input{
	margin: 0;
	padding: 0;
	height: 48px;
	top: 0;
	width: 130px;
	vertical-align: 5px;
	border: 0;
	padding-left:20px ;
	
}
.ghg-pullLists{
	display: none;
}
.ghg-pullLists.open{
	display: block;
}
.ghg-pullLists>ul{
	height: 188px;
	width: 188px;
	border: 1px solid #ADADAD;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
	
}
.ghg-pullLists ul li{
	line-height: 20px;
	padding: 0;
	margin: 0;
	background: #ffffff;
	border-left:1px solid  #ADADAD;
}
.ghg-pullLists ul li.select{
	background: #ffffff;
}
.ghg-youme{
	background: #F8F6F1;
}
.ghg-youme-me{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.ghg-youme-me ul{
	display: flex;
	justify-content: space-between;
	height: 76px;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
	margin: 0 auto;
	
}
.ghg-youme-me ul:nth-child(1){
		border-top: 2px solid #cccccc;
}
.ghg-youme-me ul li{
	height: 72px;
	padding: 20px 0;
	line-height: 20px;
	background: #ffffff;
	box-sizing: border-box;
	
	
}
.ghg-youme-me ul li:nth-child(2){
	background: url(../img/zhi2.png) center center no-repeat;
}
.ghg-youme-me ul li:nth-child(2):hover{
	background: url(../img/zhi1.png) center center no-repeat;
}
